@charset "utf-8";
*{
    font-family: serif;}

/*文字変更禁止*/
html{
    -webkit-text-size-adjust: 100%;
}
/*縦書き文字設定*/
#main{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 3.4rem;
    right: 19%;
    z-index: 50;
}

#main_middle{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 17rem;
    right: 7%;
    z-index: 50;
}
#main_btm{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 31rem;
    right: 7%;
    z-index: 50;
}
.num {
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	line-height: 1;
	vertical-align: baseline;
}
/*ヘッダー配置*/
#ヘッダー h1{
    font-size: 2rem;
}
#ヘッダー p,a{
    font-size: 1.2rem;
    margin:0;
}


#jump{
    margin:0;
}
#jump li{
    left: 3em;
}
h1{text-decoration:underline;
   margin: 10px 2px;}
#jampp{
    position: relative;
    margin-bottom: 0;
    font-size: 1.2rem;
    left: -2%;
}

/*window背景色*/
body{
    background-color: rgb(136, 236, 228);
}
/*配置設定*/
#template{
    position: relative;
}
#title{
    position: absolute;
    margin-left: 417px;
    top: 57.5px;
    z-index: 1;
  }

.text-2xl{
    font-size:1.3rem;
    letter-spacing: 0px;
    line-height:2rem;
}
    
.ml-115{ 
    position: absolute;
    top:25%; 
    right: 51%;
    z-index: 100;
    
}
/*ul*/
#jamp{
color:rgb(14, 15, 15);}



/*form*/
#formspace{
    position: relative;
    top: 160px;
    margin-top: 120%;
    margin-bottom: 30%;
    width: 730px;
    
  
    
}
#field{
    position:relative;
    width: 92%;
    height:96%;
    left: 1%;
}
#HR_area{
    position: absolute;
    left:50px;
    top:20px;

    width:2rem;
}      
#teacher_area{
    position: absolute;
    left:7%;
    top:7%;
}
#subteacher_area{
    position:absolute;
    left:30%;
    top: 7%;
}

#mini_area{
    position:absolute;
    top: 15%;
    height: 20rem;
    float: left;
    left: 7%;
}
#mini_area2{
    position:absolute;
    top: 60.5%;
    left:50px;
    height: 19rem;

}
#main_area1{
    position:absolute;
    height: 11.5rem;
    top: 15%;
    left:23rem;
    margin-right: 50px;

}
#main_area2{
    position:absolute;
    height: 14rem;
    top: 40%;
    left:23rem;
    margin-right: 50px;

}
#main_area3{
    position:absolute;
    height: 14rem;
    top: 70%;
    left:23rem;
    margin-right: 50px;

}
#toPDF{
    float: none;
    line-height: 1;
    height:3rem;
    width: 5rem;
    position:absolute;
    left: 101%;
    bottom:0%;
    background-color: white;
}
#mini_area,#mini_area2,#main_area1,#main_area2,#main_area3{
    width: 38%;
}

#mini{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 3.4rem;
    right: 21%;
    z-index: 50;
}
#mini2{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 31rem;
    right: 9%;
    z-index: 50;
}
#担任{
    font-size: 60%;
    position: absolute;
    top:56%;
    right: 22.3%;
    letter-spacing: 1%;
    z-index: 70;
}
#副担任{
    font-size: 60%;
    position:absolute;
    top:56%;
    right: 52.4%;
    z-index: 70;
}

/* over pcver */
@media screen and (max-width:480px){
/* under iphone ver */
/*form*/
#formspace{
    position: relative;
    top: 160px;
    margin: auto -15%;
    margin-top: 120%;
    margin-bottom: 50%;
    width: 690px;       
}
#mini_area,#mini_area2,#main_area1,#main_area2,#main_area3{
    width: 33%;
}

}
    
