<!DOCTYPE html>
<html lang="jp">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>seirei</title>
</head>
<section>
<h1 id="rogo">
    更新は未定です。
</h1>
<p>
    自由投稿用のテンプレートページの予定です。<br>
    文字の大きさ、背景画像等を選べれるようにしようと思っています。<br><br>
    -2022.3以降更新がされていなかった場合-<br>
    制作者は技量が足りなかったみたい、、、<br>
    コードを公開しておくので、制作者より技術のある方、更新の方をよろしくお願いします。<br>
    やる気があったら、委員長に声かけてみて✌<br>
</p>
</section>

<style>
    #rogo{
        width: 50%;
        font-family: serif;
        
    }
    body{background-color: rgb(188, 231, 188);}
</style>

