@charset "utf-8";
*{
    font-family: serif;}

/*文字変更禁止*/
html{
    -webkit-text-size-adjust: 100%;
}
/*縦書き文字設定*/
#main{
    position: absolute;
    font-size: 59.4%;
    height: 19rem;
    letter-spacing: 1%;
    top: 3.4rem;
    right: 21%;
    z-index: 50;
}

#main_middle{
    position: absolute;
    font-size: 59.4%;
    height: 19rem;
    letter-spacing: 1%;
    top: 24rem;
    right: 21%;
    z-index: 50;
}

.num {
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	line-height: 1;
	vertical-align: baseline;
}
/*ヘッダー配置*/
#ヘッダー h1{
    font-size: 2rem;
}
#ヘッダー p,a{
    font-size: 1.2rem;
    margin:0;
}


#jump{
    margin:0;
}
#jump li{
    left: 3em;
}
h1{text-decoration:underline;
   margin: 10px 2px;}
#jampp{
    position: relative;
    margin-bottom: 0;
    font-size: 1.2rem;
    left: -2%;
}

/*window背景色*/
body{
    background-color: rgb(241, 241, 155);
}
/*配置設定*/
#template{
    position: relative;
}
#title{
    position: absolute;
    margin-left: 417px;
    top: 57.5px;
    z-index: 1;
  }
  #title2{
    position:absolute;
    margin-left: -62px;
    top:328.5px;
    z-index: 1;
  }


/*ul*/
#jamp{
color:rgb(14, 15, 15);}



/*form*/
#formspace{
    position: relative;
    top: 160px;
    margin-top: 120%;
    margin-bottom: 50%;
    width: 610px;
    
  
    
}
#field{
    position:relative;
    width: 90%;
    height:96%;
    left: 1%;
}
     
#teacher_area{
    position: absolute;
    left:7%;
    top:3%;
}
#teacher_area2{
    position: absolute;
    left:7%;
    top:8%;
}


#main_area1{
    position:absolute;
    height: 21rem;
    top: 15%;
    left: 7%;
    margin-right: 50px;

}
#main_area2{
    position:absolute;
    height: 21rem;
    top: 57%;
    left:7%;
    margin-right: 50px;

}

#toPDF{
    float: none;
    line-height: 1;
    height:3rem;
    width: 5rem;
    position:absolute;
    left: 101%;
    bottom:0%;
    background-color: white;
}
#main_area1,#main_area2{
    width: 69%;
}

#mini{
    position: absolute;
    font-size: 59.4%;
    height: 12.5rem;
    letter-spacing: 1%;
    top: 3.4rem;
    right: 21%;
    z-index: 50;
}

#担任{
    font-size: 200%;
    font-weight: 700;
    position: absolute;
    top:10%;
    right: 50%;
    letter-spacing: 1%;
    z-index: 70;
}
#担任2{
    font-size: 200%;
    font-weight: 700;
    position: absolute;
    top:60%;
    right: 50%;
    letter-spacing: 1%;
    z-index: 70;
}


/* over pcver */
@media screen and (max-width:480px){
/* under iphone ver */
/*form*/
#formspace{
    position: relative;
    top: 160px;
    margin: auto -15%;
    margin-top: 120%;
    margin-bottom: 50%;
    width: 690px;       
}
#main_area1,#main_area2{
    width: 51%;
}


}
    

